<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>

  <div class="wrap">
    <div class="header">
      <div class="logo">
        <a href="#">
          <img src="https://hexschool.github.io/webLayoutTraining1st/week3/logo.png" alt="">
        </a>
      </div>
      <ul class="link">
        <li><a href="#">系列鏡框</a></li>
        <li><a href="#">門市據點</a></li>
        <li><a href="#">部落格</a></li>
        <li><a href="#">常見問題</a></li>
      </ul>
    </div>

    <div class="mainLink">
      <div class="main-wrap">
        <ul class="link">
          <li><a href="#">最新消息</a></li>
          <li><a href="#">特別企劃</a></li>
          <li><a href="#">新品上市</a></li>
          <li><a href="#">鏡框小知識</a></li>
        </ul>
        <div class="searchBtn">
          <a href="#">
            <img src="https://hexschool.github.io/webLayoutTraining1st/week3/icon-search.svg" alt="">
          </a>
        </div>
      </div>
    </div>

    <%- contents %>

    <footer>
      
      <div class="footer-wrap">
        <div class="footer-top">
          <div class="left">
            <ul class="link">
              <li><a href="#">首頁</a></li>
              <li><a href="#">系列鏡框</a></li>
              <li><a href="#">門市據點</a></li>
              <li><a href="#">部落格</a></li>
              <li><a href="#">常見問題</a></li>
            </ul>
        
            <ul class="footer-info">
              <li>
                <span class="icon">
                  <img src="https://hexschool.github.io/webLayoutTraining1st/week3/icon-phone.svg" alt="">
                </span>
                <p>0800-000-000</p>
              </li>
              <li>
                <span class="icon">
                  <img src="https://hexschool.github.io/webLayoutTraining1st/week3/icon-mail.svg" alt="">
                </span>
                <p>
                  <a href="mailto:glasses@business.com">glasses@business.com</a>
                </p>
              </li>
            </ul>
          </div>
      
          <div class="right">
            <ul class="social-icon">
              <li><a href="#"><img src="https://hexschool.github.io/webLayoutTraining1st/week3/icon-fb.svg" alt=""></a></li>
              <li><a href="#"><img src="https://hexschool.github.io/webLayoutTraining1st/week3/icon-ig.svg" alt=""></a></li>
              <li><a href="#"><img src="https://hexschool.github.io/webLayoutTraining1st/week3/icon-line.svg" alt=""></a></li>
            </ul>
          </div>
        </div>

        <div class="footer-bottom">
          <div class="copyright">
            <small>
                Copyright © 2020 Glasses.All rights reserved.
            </small>
          </div>
          <ul class="link">
            <li>
              <a href="#">
                <small>隱私權政策</small>
              </a>
            </li>
            <li>
              <a href="#">
                <small>服務條款</small>
              </a>
            </li>
          </ul>
        </div>
      </div>

    </footer>

  </div>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
