// 左側
.sideMenu{
    width:296px;
    background:$color01;
    display: flex;
    flex-direction: column;
    h1{
        font-size:20px;
        font-weight:bold;
        margin-bottom: 1rem;
    }
    .link{
        li{
            position: relative;
            padding:.75rem .5rem;
            a{
              position: relative;
              color:#212529;
              font-weight: 900;
              padding-left:2rem
            }
            .icon{
                position: absolute;
                left:-.2rem;
                top:-0.4rem;
                font-size:20px;
            }
            &::before{
                content: '';
                display: block;
                width: 3px;
                height: 1.75rem;
                position: absolute;
                left: -2rem;
                top: 0.7rem;
                background:transparent;
            }
            &:hover,
            &.active{
                a{
                    color:$color02 !important
                }
                &::before{
                    background:$color02
                }
            }
        }
    }
    .memberName-area{
        display:flex;
        margin-top: auto;
        .avatar{
           display: block;
           width:45px;
           height:45px;
           border-radius:50%;
           overflow: hidden; 
           margin-right:15px;
        }
        .txt{
            line-height: 1;
            h5{
                margin-bottom:.25rem
            }
        }
    }
}