.pagination{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    border-radius: .25rem;
    margin-top:5rem;
    a{
        position: relative;
        display: block;
        padding: .5rem .75rem;
        margin-left: -1px;
        line-height: 1.25;
        color: $color02;
        background-color: #fff;
        border: 1px solid $color02;
        &:hover{
            background-color: $color02;
            color:white !important
        }
    }
    li{
        &:first-child {
            a {
                margin-left: 0;
                border-top-left-radius: .25rem;
                border-bottom-left-radius: .25rem;
            }
        }
        &:last-child {
            a {
                border-top-right-radius: .25rem;
                border-bottom-right-radius: .25rem;
            }
        }
    }
}