@import '_breakpoint';

$color01: #AA0601;
$color02:#650300;
$color03:#555555;
$fontStyle:'Roboto';

*{
  list-style: none;
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
}

p{
  margin: 0;
}

a{
  text-decoration: none;
  color: currentColor;
}

ul{
  padding-left: 0;
  margin: 0;
}

img{
  max-width: 100%;
}

.wrap{
  width: 100%;
  max-width:1920px;
  margin:auto
}
.main-wrap{
  width: 100%;
  max-width:1110px;
  margin:auto;
  @include pad{
    padding:.25rem 1rem;
  }
}


.link{
  li{
    display:inline-block;
    &+li{
      margin-left: 1em;
    }
    a{
      display: block;
      color:white;
      font-size: 20px;
      line-height: 1;
      padding: 6px 12px;
      &:hover{
        background-color: white;
        color:$color01;
      }
    }
  }
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 4rem;
  background:$color01;
  .logo{
    width: 80px;
    height: 49px;
  }
  ul{
    flex:1;
    text-align: right;
  }
  @include pad{
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    ul{
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      margin-top: 1rem;
      width: 100%;
      li{
        width: 50%;
        border-top:white 1px solid;
        &+li{
          margin-left: 0;
          border-left: none;
        }
        &:nth-child(even){
          border-left: 1px solid white;
        }
        a{
          padding: 10px;
        }
      }
    }
  }
}

footer{
  background-color: $color01;
  color:white;
  padding: 2rem 1rem 1rem;
  margin-top: 1rem;
  .footer-wrap{
    max-width: 1110px;
    width: 100%;
    margin:auto;
  }

  ul{
    li{
      display: inline-block;
    }
  }
  .link{
    li{
      a{
        font-size: 14px;
      }
    }
  }
  .footer-top{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    padding-bottom: 1rem;
    margin-bottom: .75rem;
    .link{
      margin: 1rem 0;
      li{
        margin-right: 1rem;
        a{
          padding-left:0
        }
      }
    }
    .footer-info{
      p,a{
        font-size: 36px;
        font-weight: 300;
      }
      p{
        font-family: $fontStyle;
      }
      li{
        display: flex;
        align-items: center;
        &+li{
          margin-top: 10px;
        }
        .icon{
          display: inline-block;
          vertical-align: middle;
          width: 35px;
          margin-right: 16px;
          margin-top: 16px;
        }
      }
    }
    .social-icon{
      li{
        margin-left: 1rem;
      }
    }
  }
  .footer-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    small{
      font-size: 75%;
    }
    .copyright{
      font-family: $fontStyle;
    }
  }
  @include pad{
    
    padding:1rem;
    .footer-top{
      margin-bottom: .25rem;
      .link{
        display: none;
      }
      .footer-info{
        p,a{
          font-size: 1rem;
        }
        li{
          margin-bottom: -5px;
          .icon{
            width: 15px;
            margin: 10px 10px 0 0
          }
        }
      }
      .social-icon{
        li{
          img{
            width: 25px;
          }
        }
      }
    }
    .footer-bottom{
      align-items: flex-start;
      flex-direction: column;
      .link{
        margin-top: 5px;
        li{
          display: block;
          a{
            padding-left: 0;
          }
          &+li{
            margin-left: 0;
          }
        }
      }
    }
  }
}

// 內容連結
.mainLink{
  background-color: $color02;
  padding: 12px 6px;
  .main-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .link{
    li{
      a{
        font-size: 1rem;
      }
    }
  }
  @include pad{
    display: none;
  }
}

// 標題
.mainTitle{
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-left: 7px solid #9F1213;
  padding-left: .5rem;
  h2{
    font-size: 2.25rem;
    font-weight: 900;
    line-height: 1;
    padding: 10px 0 8px;
  }
}

// 消息列表
.newsListWrap{
  display: flex;
  margin-bottom: 3rem;
  .imgWrap{
    max-width: 375px;
    flex:0 0 375px
  }
  .itemWrap{
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 1.5rem;
    .itemInfo{
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      margin-bottom: 25px;
      h3{
        margin-top: 0;
        margin-bottom: 0;
        color:$color02;
        font-size: 32px;
      }
      p,time{
        font-family: $fontStyle;
        color:black;
        font-weight: 500;
      }
      time{
        font-size: 14px;
      }
    }
    .itemText{
      line-height: 1.5;
    }
    .itemLink{
      text-align: right;
      a{
        font-family: $fontStyle;
        color: $color02;
        font-size: 36px;
        font-weight: 900;
        &:hover{
          color:#555555
        }
      }
    }
  }
  @include pad{
    flex-direction: column;
    margin-bottom: 1rem;
    .imgWrap{
      max-width: 100%;
      flex:0 0 100%;
      img{
        width: 100%;
      }
    }
    .itemWrap{
      padding-left: 0;
      margin-top: .5rem;
      margin-bottom: 0.5rem;
      .itemInfo{
        margin-bottom: 0;
        h3{
          font-size: 18px;
        }
      }
      .itemText,
      .itemLink{
        display: none;
      }
    }
  }
}

// 頁數
.pageWrap{
  display: flex;
  justify-content: center;
  margin: 2rem 0 3rem;
  li{
    display: inline-block;
    border:$color03 1px solid;
    margin-left: -1px;
    &:last-child{
      background-color: #F2F2F2;
    }
    a{
      font-family: $fontStyle;
      color:$color03;
      display: block;
      padding: 10px 20px;
      text-align: center;
    }
    &:hover,
    &.active{
      background-color:black;
      a{
        color:white
      }
    }
  }
  @include pad{
    width: 100%;
    justify-content: space-between;
    li{
      margin-left: 0;
      flex: 1;
      &:not(:last-child){
        border-right: none;
      }
      a{
        padding:10px 5px;
        font-size: 14px;
      }
    }
  }
  @include mobile{
    li{
      a{
        font-size: 12px;
      }
    }
  }
}
